*:focus {
  outline: none;
}

.page-home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.page-home-join-room-input {
  background-color: #12171b;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid #12171b;
  color: #ffc048;
}

.page-home-join-room-btn, .page-home-join-room-btn-disabled {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #ffc048;
  text-align: center;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  background-color: #ffc048;
  color: #1e272e;
}

.page-home-join-room-btn:hover { opacity: 0.5; }
.page-home-join-room-btn:active { opacity: 0.25; }

.page-home-join-room-btn-disabled { opacity: 0.1; }